$white-light: #f8f9fd;
$pale-lilac: #e4e7f4;
$white: #e1e1e1;
$white-two: #ffffff;

$bluey-grey: #9198af;
$cloudy-blue: #c0c3d2;

$light-yellowish-green: #dbff90;
$green: #90d26c;
$green-light: #5fe2c4;

$red: #fa7268;
$red-light: #f55a5a;

$sky-blue: #68a0fa;

$purple: #8368fa;

$pink: #fa68b5;

$orange: #fa8d68;
$orange-light: #fab668;

$dark: #2a2d3b;