@mixin field-reset {
  @include default-font;

  appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 0;
  font-size: $font-medium;
  min-width: 0px;
  outline: none;
  resize: none;
}

@mixin button-reset {
  @include field-reset;

  color: inherit;
  user-select: none;
  min-width: 0px;
}

@mixin list-reset {
  list-style: none;
  text-indent: 0;
}