@mixin field-reset {
  @include default-font;

  appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 0;
  min-width: 0px;
  outline: none;
  resize: none;
}

@mixin button-reset {
  @include field-reset;

  color: inherit;
  cursor: pointer;
  user-select: none;
  min-width: 0px;
}