@import 'assets/stylesheets/_variables.scss';

@mixin reset-box {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-html,
.app-body {
  @include reset-box;
}

.app-html {
  font-size: $font-default;
}

.app {
  @include default-font;
  
  * {
    @include reset-box;
  }

  ul, ol {
    @include list-reset;
  }
}